@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ+Guides&display=swap');

 :root{
    --ciano: rgb(22, 170, 228);
    --amarelo: rgb(196, 199, 16);
    --azul  : rgb(1, 101, 231);
    --rosa : rgb(209, 107, 192);
    --titulo:"Noto Serif", serif,
    --texto:"Playwrit NZ Guides", cursive,


 }
*{
    margin: 0;
    padding: 0;
}



body{

   background-color:var(--ciano); 
   font-family:var(--amarelo);
}
header{
    background-color: var(--rosa);
    text-align: center;
    padding: 20xp;
    color: var(--azul);
}

.capa{
     width: 100%;
}



